<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
        .title {
            padding: 1rem;
            font-style: bold;
            color: yellow;
            background-color: #04AA6D;
            display: flex;
            align-items: center;
            justify-content: space-around;
        }
        .mybtn{
            display: flex;
            justify-content: space-around;
        }
    </style>
  </head>
  <body>
    <div class="title">
        <h2>Gate Pass Issue</h2>
    </div>

    
    

    
    <main class="my-form">
        <div class="cotainer">
            <div class="row justify-content-center">
                <div class="col-md-8">
                        <div class="card">
                            <div class="card-body">
                                <form name="my-form"  action="/gatepass_issue" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="admin_name" value= {{admin}} />
                                    <input type="hidden" name="chk_no" value= {{chk_no}} />

                                    <div class="form-group row">
                                        <label for="user_name" class="col-md-4 col-form-label text-md-right">User Name</label>
                                        <div class="col-md-6">
                                            <input type="text" id="user_name" class="form-control" name="username" value="{{data.username}}">
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <label for="full_name" class="col-md-4 col-form-label text-md-right">Full Name</label>
                                        <div class="col-md-6">
                                            <input type="text" id="full_name" class="form-control" name="name" value= "{{data.student_name}}" >
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="email_address" class="col-md-4 col-form-label text-md-right">E-Mail Address</label>
                                        <div class="col-md-6">
                                            <input type="text" id="email_address" class="form-control" name="email" value={{data.student_email}}>
                                        </div>
                                    </div>
    
    
                                    <div class="form-group row">
                                        <label for="phone_number" class="col-md-4 col-form-label text-md-right">Phone Number</label>
                                        <div class="col-md-6">
                                            <input type="text" id="phone_number" class="form-control" name="phone" value="{{data.student_number}}">
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="present_address" class="col-md-4 col-form-label text-md-right">Course</label>
                                        <div class="col-md-6">
                                            <input type="text" id="present_address" class="form-control" name="course" value="{{data.course}}">
                                        </div>
                                    </div>
    
                                    <div class="form-group row">
                                        <label for="permanent_address" class="col-md-4 col-form-label text-md-right">Date & Time</label>
                                        <div class="col-md-6">
                                            <input type="text" id="permanent_address" class="form-control" name="input_date" value="{{date}}">
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <label for="region" class="col-md-4 col-form-label text-md-right">Region</label>
                                        <div class="col-md-6">
                                            <select class="custom-select d-block w-100" name="region" id="region" required="">
                                                <option >Outing</option>
                                                <option>Home</option>
                                                <option>Leave Hostel</option>
                                            </select>
                                        </div>
                                    </div>
    
                                    <hr class="mb-3">
    
                                        <div class="col-md-6   offset-md-5 mybtn">
                                            <button type="submit" class="btn btn-primary">
                                                Issue Gatepass
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </body>
</html>