<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Gatepass</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>

<style>
    .title{
  padding: 1rem;
  font-style: bold;
  color: yellow;
  background-color: #04AA6D;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: min-content;
}
</style>

<body>

    <div class="title">
        <h2>Gatepass</h2>
    </div>

    <section style="background-color: #eee;">
        <div class="container py-5">
            

            <div class="row">
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-body text-center">
                            <img src="../static/qr_code/{{img}}.png"
                                alt="avatar" class=" img-fluid" style="width: 100%;">
                            <h5 class="my-3">{{data.username}} </h5>
                        </div>
                    </div>
                   
                </div>
                <div class="col-lg-8">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"><b> Full Name</b></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{data.name}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"><b> Email</b></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{data.email}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> <b> Phone</b></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{data.phone}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> <b>Course</b></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{data.course}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> <b>Date</b></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{data.input_date}}</p>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-sm-3">
                                    <p class="mb-0"> <b>Region</b></p>
                                </div>
                                <div class="col-sm-9">
                                    <p class="text-muted mb-0">{{data.region}}</p>
                                </div>
                            </div>
                            <hr>




                            <div class="row">
                                <!-- <form > -->
                                    <button type="button" onClick="window.location.reload();" class="btn btn-success"> Done </button>
                                <!-- </form> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>






    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
</body>

</html>